{% extends 'base.html.twig' %}

{% form_theme formBook 'bootstrap_4_layout.html.twig' %}

{% block body %}

    {% if editMode %}
        <h1>Modification d'un livre</h1>
    {% else %}
        <h1>Ajouter un livre</h1>
    {% endif %}


    {{ form_start(formBook) }}

        {{ form_row(formBook.name) }}
        {{ form_row(formBook.category) }}
        {{ form_row(formBook.author) }}
        {{ form_row(formBook.date) }}


        <button type="submit" class="btn btn-success">
            {% if editMode %}
                Enregistrer les modifications
            {% else %}
                Ajouter le livre
            {% endif %}
        </button>

        {% if editMode %}
            <a href="{{ path('book_delete', {'id': id}) }}" class="btn btn-danger">Effacer le livre</a>
        {% endif %}
        
    {{ form_end(formBook) }}



{% endblock %}