{% extends 'base.html.twig' %}

{% form_theme formSearch 'bootstrap_4_layout.html.twig' %}

{% block body %}

    {{ form_start(formSearch) }}

        {{ form_row(formSearch.name) }}
        {{ form_row(formSearch.category) }}
        {{ form_row(formSearch.author) }}
        {{ form_row(formSearch.date) }}


        <button type="submit" class="btn btn-success">  
          Filtrer
        </button>
    {{ form_end(formSearch) }}

<section class="books d-flex align-content-end flex-wrap">
    {% for book in books %}
        
            <div class="card border-primary m-3" style="max-width: 20rem;">
                
                    <div class="card-header">{{ book.category.name }}</div>
                    <div class="card-body">
                        <h4 class="card-title">{{ book.name }}
                          {% if book.date %}
                            - {{ book.date | date('d/m/Y') }}
                          
                          {% endif %}
                        </h4>
                        {% if book.author %}
                            <p class="card-text">Écrit par {{ book.author.name }} / {{ book.author.birthDate | date('Y') }}</p>
                        {% else %}
                            <p>Absence de données sur l'auteur</p>
                        {% endif %}
                    </div>
                    <a class="stretched-link" href="{{ path('book_edit', {'id': book.id}) }}" role="button"></a>
            </div>
        </a>
    {% endfor %}
</section>

{% endblock %}
